<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework" level="warn"/>
  <logger name="com.zaxxer" level="warn"/>
<!--  <logger name="org.springframework.test.context.transaction" level="warn"/>-->
  <logger name="er.upskilling" level="info"/>
</configuration>
